<div class="jobs content-page">
    <div class="row">
        <div class="container">
            {% if jobsPageTitle %}
                <div class="row">
                    <div class="col-12">
                        <h1 class="page-title {{ titleAlign }}">{{ jobsPageTitle|_ }}</h1>
                    </div>
                </div>
            {% endif %}

            {% for job in data %}
                <div class="row{% if not loop.first %} mt-4{% endif %}">
                    <div class="col-12">
                        <div class="details">
                        {% set imgvalue = 'bkm' %}
                        {% for cat in job.categories %}
                            {%if cat.slug in ['bti','foketusz','fokert','fotav','fkf'] %}
                                    {% set imgvalue = cat.slug %}
                            {% endif %}
                        {% endfor %}
                        <img src="/storage/app/media/divizio_logok/{{imgvalue}}.jpg" alt="logo" class="jobsdivisionlogo">
                            <div class="date text-uppercase mb-1">
                                        {{ job.created_at|date('Y.m.d H:i') }}
                                    <span class="category">
                                        {{ job.categories|map(c => "#{c.name}")|join(', ') }}
                                    </span>
                                    </div>
                                    <div class="title mb-2">
                                        <a href="/job/{{ job.slug }}">{{ job.title }}</a>
                                    </div>
                                    <button type="button" class="btn btn-brandcolor d-none d-md-block" onClick="window.location.href = '/job/{{ job.slug }}';">{{ 'tovabb'|_ }}<i class="fas fa-caret-right fa-2x"></i>
                                    </button>
                                </div>
                            </div>
                    </div>
                {% endfor %}
        </div>
    </div>
</div>
