{% if record %}
    {% if record.headerimage %}
    <p style="margin:-15px -15px 0;">
        <img src="/storage/app/media{{record.headerimage}}" style="width: 100%;" class="fr-fic fr-dib" data-result="success">
    </p>{% endif %}
    <div class="container-fluid pages-title py-3">
        <div class="row">
            <div class="container">
                <div class="row">
                    <h1 class="text-uppercase w-100">{{ record.title }}</h1
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid texts-content">
        {% for content in record.contents %}
            {% if content._group == "szoveges" %}
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-12 pl-0 pr-0 pb-2">
                            <div class="content-box">
                            <p style="font-weight:bold;color:{{brandcolor}};font-size:1.1rem;">{{content.title}}</p>
                            <ul>
                            {% for cont in content.details|split("\n") %}
                            <li>{{ cont }}</li>
                            {% endfor %}
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if content._group == "formazott" %}
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-12 pl-0 pr-0 pb-2">
                            <div class="content-box">
                            <p style="font-weight:bold;color:{{brandcolor}};font-size:1.1rem;">{{content.title}}</p>
                                {{ content.details|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {%endfor%}
        {% if record.location %}
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12 pl-0 pr-0 pb-2">
                        <div class="content-box">
                            <p><span style="font-weight:bold;color:{{brandcolor}};font-size:1.1rem;">A munkavégzés helye:</span> {{ record.location }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if record.startdate %}
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12 pl-0 pr-0 pb-2">
                        <div class="content-box">
                            <p><span style="font-weight:bold;color:{{brandcolor}};font-size:1.1rem;">Kezdés:</span> {{ record.startdate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-12 pl-0 pr-0 pb-2">
                        <div class="content-box">
                            <p><span>Fényképes önéletrajzzal </span> <a href="/job?selected={{record.slug}}" class="btn btn-brandcolor ml-2" style="background-color:{{brandcolor}} !important">Jelentkezem most!</a></p>
                            <small>*A beérkezett önéletrajzokat 6 hónapig kezeljük, ezt követően azokat megsemmisítjük, illetve visszaállíthatatlanul töröljük.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% else %}
    <div class="container-fluid pages-title pb-5 pt-5">
        <div class="row">
            <div class="container">
                <div class="row">
                    <h1 class="text-uppercase">A keresett állás nem található!</h1>
                </div>
            </div>
        </div>
    </div>
{% endif %}
